@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: rgb(28, 30, 33);
  padding-bottom: 50px;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.stories {
  overflow: hidden;
  margin-top: 20px;
  width: 36.2%;
  display: flex;
  flex-direction: row;
}

.stories-box {
  width: 145px;
  height: 240px;
  border-radius: 15px;
  margin-right: 7px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.stories .img {
  width: 145px;
  border-radius: 15px;
  height: 240px;
  object-fit: cover;
  cursor: pointer;
}

.stories-box:hover .img {
  transform: scale(1.06);
  opacity: 0.8;
}

.small-logo-stories {
  top: 10px;
  left: 10px;
  cursor: pointer;
  position: absolute;
}

.small-logo-stories img {
  border: 4px solid rgb(0, 89, 255);
  width: 32px;
  object-fit: cover;
  height: 32px;
  border-radius: 100%;
}

.create-story {
  color: white;
  font-size: 0.86rem;
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50px;
  background-color: rgb(43, 43, 43);
  bottom: 0;
  left: 0;
  cursor: pointer;
  right: 0;
  position: absolute;
}

.create-story p {
  font-weight: 500;
  margin-bottom: 7px;
}

.create-story-button {
  cursor: pointer;
  position: absolute;
  bottom: 35px;
  height: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  background-color: rgb(43, 43, 43);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-story-background {
  height: 33px;
  width: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 119, 255);
  border-radius: 100%;
}

.facebook-tweet {
  margin-top: 20px;
  padding: 10px 15px;
  width: 34.8%;
  border-radius: 10px;
  background-color: rgb(43, 43, 43);
}

.logo-input img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
}

.logo-input img:hover {
  filter: brightness(120%);
}

.input-box {
  width: 94%;
  font-size: 1.15rem;
  margin-left: 10px;
  height: 30px;
  cursor: pointer;
  padding: 5px 10px;
  user-select: none;
  color: rgb(160, 160, 160);
  background-color: rgb(66, 66, 66);
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.input-box:hover {
  background-color: rgb(80, 80, 80);
}

.logo-input {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(78, 78, 78);
  padding-bottom: 10px;
}

.input-box p {
  margin: 0;
}

.section-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section-icons p {
  color: rgb(172, 172, 172);
  margin-left: 10px;
  font-weight: 500;
}

.section-icon {
  margin-top: 10px;
  width: 33%;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section-icon:hover {
  background-color: rgb(66, 66, 66);
}

.post {
  background-color: rgb(43, 43, 43);
  width: 36.2%;
  margin-top: 20px;
  border-radius: 10px;
  flex-shrink: 1;
}

.post-header {
  display: flex;
  flex-shrink: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.post-header img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-left: 15px;
}

.page-name {
  color: rgb(224, 224, 224);
  text-decoration: none;
  margin-left: 7px;
}

.post-header-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  font-size: 1.4rem;
  color: white;
  margin: 0px 3px;
  vertical-align: top;
}

.follow-button {
  text-decoration: none;
  color: rgb(3, 167, 243);
  font-weight: 500;
}

.post-header-row {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  margin-bottom: 15px;
}

.post-timeline {
  position: absolute;
  bottom: -10px;
  left: 0;
  margin-left: 7px;
  font-size: 0.8rem;
  font-weight: 500;
  color: gray;
}

.post-image-container {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  background-color: white;
}

.post-image-container img {
  width: 100%;
}

.react-section {
  background-color: rgb(43, 43, 43);
  padding: 9px 18px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.react-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(189, 189, 189);
  border-bottom: 1px solid rgb(78, 78, 78);
  padding-bottom: 10px;
}

.react-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.react-heart {
  margin-right: 5px;
}

.react-buttons p {
  cursor: pointer;
  margin: 0;
}

.react-buttons p:hover {
  text-decoration: underline;
}

.react-buttons i {
  cursor: pointer;
}

p {
  margin: 0;
}

.comments-and-shares {
  display: flex;
  flex-direction: row;
}

.comments-and-shares p {
  cursor: pointer;
  margin-left: 10px;
}

.comments-and-shares p:hover {
  text-decoration: underline;
}

.react-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin-top: 9px;
}

.interactive-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 33%;
  cursor: pointer;
}

.interactive-button p {
  color: rgb(172, 172, 172);
  margin-left: 10px;
  font-size: 1rem;
  font-weight: 500;
}

.interactive-button:hover {
  background-color: rgb(61, 61, 61);
  border-radius: 10px;
}

.post-header-row a:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .post,
  .stories {
    width: 500px;
  }

  .facebook-tweet {
    width: 470px;
  }

  .main {
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
  }

  .sidebar {
    visibility: hidden;
  }
}
@media (max-width: 960px) {
  .rightsidebar {
    display: none;
  }
  .main {
    align-items: center;
    margin-left: 0px;
  }
}

@media (max-width: 510px) {
  .stories,
  .post {
    width: 400px;
  }
  .facebook-tweet {
    width: 370px;
  }
  .fa-xl {
    font-size: 1em;
  }
  .section-icon p {
    font-size: 14px;
  }
}
@media (max-width: 420px) {
  .stories,
  .post {
    width: 350px;
  }
  .facebook-tweet {
    width: 330px;
  }
  .section-icons p {
    margin-left: 3px;
  }
}
